.notification {
  position: fixed;
  top: 125px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.notification-item {
  font-size: 12px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 420px;
  margin-top: 20px;
  padding: 11px 13px;
  color: #FFFFFF;
  border-radius: 2px;
  border-color: grey;
}

.notification-item-success {
  background-color: green;
}

.notification-item-error {
  background-color: red;
}


